.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav_link {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #f9f9fa;
  right: 540px;
  bottom: 10px;
}

.nav__three {
  background-color: tomato;
  width: 10px;
  height: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: tomato;
}
